<hr class="my-5">

<h4 class="fw-bold mb-3">

    User Access Log

</h4>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>ID</th>
            <th>User Email</th>
            <th>Action</th>
            <th>Time</th>

        </tr>

    </thead>

    <tbody>

        {% for log in access_logs %}

        <tr>

            <td>{{ log.id }}</td>

            <td>{{ log.user_email }}</td>

            <td>

                {% if log.action == 'LOGIN' %}

                    <span class="badge bg-success">

                        LOGIN

                    </span>

                {% else %}

                    <span class="badge bg-danger">

                        LOGOUT

                    </span>

                {% endif %}

            </td>

            <td>{{ log.created_at }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>
